@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
	/* background-image: linear-gradient(#636162, #b1afaf); */
	height: 122vh;
	font-weight: bold;
	letter-spacing: 2px;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: "Montserrat", sans-serif;
}

.main {
	background-color: white;
	height: 1010; /* auto */
	width: 650px;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 87%; /* 80 */
}

.left {
	background-color: #424651;
	width: 200px;
	height: 100%;
	float: left;
}

.right {
	width: 450px;
	float: left;
}

.profile-img {
	height: 180px;
	width: 180px;
	background-color: #ddd;
	border-radius: 50%;
	margin-bottom: 20px;
	margin-left: 60px;
	border: 10px solid #424651;
	box-shadow: 6px 7px 9px 5px #42465173;
}

.profile-img img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.box-1 {
	position: relative;
}

.heading {
	background-color: #adb5bd;
	padding: 10px;
	color: #424651;
	text-align: left;
	padding-left: 20px;
	margin-right: -15px;
}

.heading::after {
	content: "";
	position: absolute;
	width: 21px;
	height: 18px;
	background-color: #adb5bd;
	left: 191px;
	top: 26px;
	transform: rotate(56deg);
	z-index: -1;
}

.p1 {
	padding: 9px 10px;
	font-size: 11px;
	color: #ffffff;
}

.icons1 {
	font-size: 16px !important;
	padding-right: 10px !important;
	vertical-align: sub;
}

.skill-container {
	width: 90%;
	background-color: #070707;
	margin: 0px 10px;
}

.skill {
	text-align: right;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #F1F2EB;
}

.html {
	width: 100%;
	background-color: #F1F2EB;
}

.css {
	width: 80%;
	background-color: #F1F2EB;
}

.js {
	width: 85%;
	background-color: #F1F2EB;
}

.jquery {
	width: 80%;
	background-color: #F1F2EB;
}

.web {
	width: 85%;
	background-color: #F1F2EB;
}

.gra {
	width: 70%;
	background-color: #F1F2EB;
}

.icons2 {
	padding: 18px 10px;
}

.name-div {
	padding: 86px 0px 60px 55px;
	text-align: center;
	letter-spacing: 3px;
}

.name-div h1 {
	margin-bottom: 10px;
}

.box-2 {
	padding: 0px 50px;
	margin-top: 30px;
}

.p2 {
	font-size: 10px;
	font-weight: 300;
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height: 18px;
	margin-top: 5px;
}

h2 {
	font-size: 16px;
	margin-bottom: 15px;
}

.icons3 {
	vertical-align: bottom;
	font-size: 21px !important;
	color: #adb5bd;
}

.p3 {
	font-size: 12px;
	word-spacing: 1px;
	letter-spacing: 0px;
	margin-top: 10px;
}

.p3 span {
	color: #ff6000;
	padding-left: 10px;
}